@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-family: 'Noto Sans', sans-serif;

  /* SNIPCART VARIABLES */

  /* BUTTON */
  --color-buttonPrimary: #418a35;
  --borderColor-buttonPrimary: #fdd298;
  --bgColor-buttonPrimary: #fdd298;

  /* LINK */
  --color-link: #418a35;

  /* GLOBAL */
  --bgColor-default: #FBFCF1;
  --bgColor-modal: #EDFFFF;

}

.snipcart__font--secondary {
  font-family: 'Noto Sans', sans-serif;
}
